# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 20
b = 20
equal_by_value = a == b
reference_to_same_object = a is b
print(f"Equality in value: {equal_by_value}")
print(f"Reference to a single object: {reference_to_same_object}")

Equality in value: True
Reference to a single object: True

n1 та n2 рівні за значенням (як видно з оператора == ) і посилаються на один і той самий об'єкт у пам'яті( оператор is )

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
a_is_int = isinstance(a, int)
b_is_int = isinstance(b, int)
print(f"a is int: {a_is_int}")
print(f"b is int: {b_is_int}")

a is int: True
b is int: True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
a = 3
b = 1.4
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a %b )
print(a ** b)
print(a // b)

4.4
1.6
4.199999999999999
2.142857142857143
0.20000000000000018
4.655536721746079
2.0

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
b_be_int = int(b)
print(b_be_int)
k = True
print(int(k))

1
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
str1 = ""
str2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
str1 = "'"
str2 = r"'"
str1, str2

("'", "'")

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = "Onopko"
a = f"My surname is {surname}"
a

'My surname is Onopko'

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
input_str = "My dog is crazy."
result_str = input_str.lower().replace(".", "").split()

result_str

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list1 = [1, 2, 3]
list2 = list(range(3))
length_list1 = len(list1)
print(f"list1 length: {length_list1}")

list1 length: 3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list1.append(list2)
print("", list1)

 [1, 2, 3, [0, 1, 2]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list1 =[
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
list1[-1][0]

5
7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
list1 = [False, True, None, 1, 2.0, 3.5, [8, 9], 5, 0.5]
list1_slice = list1[2:-2]
list1_slice

[None, 1, 2.0, 3.5, [8, 9]]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
tuple1 = (752,)
print(tuple1)

(752,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.


Список:
Змінюваний
Споживає більше памяті
Оскільки списки є змінюваними, існує більше вбудованих методів для маніпулювання збереженими даними
Tuple:
Незмінний
Споживає менше памяті
Менше вбудованих методів для роботи з даними

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [1]:
tup = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
tup[::-2]

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [2]:
set1 = set()
set1.add(2)
set1.add(1)
set1.add(6)
set1

{1, 2, 6}

Список: Змінюваний

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [5]:
l1 = [1, 1, 2, 67, 67, 8, 9]
s1 = set(l1)
s1

{1, 2, 8, 9, 67}

Оскільки множина зберігає хешовані значення, вона містить лише значення з різними хешами. Тому рівні елементи зі списку "зникли" (їхні хеші стали рівними)

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [6]:
s1 = set([1, 2, 3, 4])
s2 = set([4, 5, 6, 7])

difference = s1.difference(s2)
union = s1.union(s2)
intersection = s1.intersection(s2)
symetric = s1.symmetric_difference(s2)
print(union)
print(difference)
print(intersection)
print(symetric)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{4}
{1, 2, 3, 5, 6, 7}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [10]:
dict= {}
dict[3.14] = "float_key"
dict[123] = "int_key"
dict[True] = "bool_key"
dict["key"] = "str_key"

Оскільки ключі у словнику мають бути хешованими, словник не може бути ключем в іншому словнику

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [8]:
dict1 = {
    "dict2": {
        "dict3": {
           "1": "1"
        }
    }
}
dict1["dict2"]["dict3"].items()

dict_items([('1', '1')])

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.